doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cautious Contracting; Five lessons on how to do it wrong

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/customstyle.css')    

    // endbuild

  body

    article

      section.page-background
        h1 Cautious Contracting
        h3 Five lessons from doing it wrong

      section.page-background
        h2 Zach Goldstein (@whatthezach)
        h3 Engineer at Loke Digital

      section.page-background
        h2 Who here has done short-term contract work?

      section.page-background
        h1 Disclaimer!

      section.page-background
        h2 Spent 8 months contracting

      Section.page-background
        h2 If I say something and you have this reaction:

      section.page-background
        img(src="/images/surprise2.gif")

      Section.page-background
        h2 Say something

      section.page-background
        h1 Why did I do contracting?

      section.page-background
        h3 April 2013: Graduated Engineering After 6 Years
        h3 Geared up for a move to Melbourne but was in visa limbo
        h3 Needed a way to support myself without taking a full-time job

      section.page-background
        h2 It's also pretty awesome

      section.page-background
        img(src="/images/awesome.gif")

      section.page-background
        h1 What did I know going into this?

      section.page-background
        h1 Three years exp
        h3 Autodesk, Electronic Arts, Research In Motion (Blackberry), Fantasy Interactive, Better Place, Hitgrab, DesignAxiom

      section.page-background
        img(src="/images/getserious.gif")

      section.page-background
        h1 What did the jobs involve?
        h3 nodejs, phonegap, iOS, backbone, angular, ruby, and hardware work

      section.page-background
        img(src="/images/shapeshifter.gif")

      section.page-background
        h1 Lesson #1
        h2 Generalists starve, experts prosper

      section.page-background
        h2 What do I enjoy doing?

      section.page-background
        h2 Where do my experiences mostly lie?

      section.page-background
        h2 What can I do to be an expert at it?

      section.page-background
        h2 Ok you're pretty awesome. Now what?

      section.page-background
        h1 Lesson #2
        h2 Don't take on jobs too outside your core expertise

      section.page-background
        h1 I write software for a living

      section.page-background
        h2 Possible Contract: 
        h3 Hardware project involving low-latency, multi-person communications, geo-tracking, packaged in a sexy case all with an cloud-based backend?

      section.page-background
        h1 let's do this

      section.page-background
        img(src="/images/dancingpie.gif")
      
      section.page-background
        img(src="/images/howaboutno.jpg")

      section.page-background
        h1 Lesson #3
        h3 Don't half ass an estimate or scoping excersize

      section.page-background
        h1 It WILL bite you in the ass.

      section.page-background
        img(src="/images/hitintheface.jpg")

      section.page-background
        h1 Some tactics:
        
      section.page-background
        h2 Range-based quotes to educate about risks

      section.page-background
        h2 Danger value on each block of work
        
      section.page-background
        h2 Milestones
        
      section.page-background
        h2 Wireframes

      section.page-background
        h1 What didn't work:
        
      section.page-background
        h2 Rewards and penalties for being early/late
        
      section.page-background
        h2 Excessive detail

      section.page-background
        h1 But excessive detail is good sometimes!

      section.page-background
        h1 Lesson #4
        h3 Overcommunicate

      section.page-background
        h1 Keep detailed, daily notes of progress

      section.page-background
        h1 Email as much as possible

      section.page-background
        h2 Without pissing them off

      section.page-background
        img(src="/images/whatareyoudoing.gif")

      section.page-background
        h1 They will love you for it!

      section.page-background
        h1 Happy clients = food on the table

      section.page-background
        h1 Happy clients = more work

      section.page-background
        h1 Happy clients = less time looking for work

      section.page-background
        img(src="/images/amazing.gif")

      section.page-background
        h1 Lesson #5
        h2 Never wait for work

      section.page-background
        h2 Contracting is a social endeavour

      section.page-background
        h2 Do cool shit and tell people about it

      section.page-background
        h2 Go to meetups

      section.page-background
        h2 Do talks

      section.page-background
        h2 Open source

      section.page-background
        h2 Twitter / LinkedIn / Email / Phone / Fax / Carrier Pigeon

      section.page-background
        h1 Summing it up: 
        h2 Five Lessons to Stop Sucking at Contracting

      section.page-background
        h1 #1 Generalists Starve, Experts Prosper

      section.page-background
        h1 #2 Stay in Your Core Expertise

      section.page-background
        h1 #3 Get Good at Scoping

      section.page-background
        h1 #4 Overcommunicate

      section.page-background
        h1 #5 Never Wait for Work

      section.page-background.last
        img(src="/images/mistakes.jpg")

      section.page-background
        h1 Thanks!
        h2 Questions?

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild